body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;


}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000000;
}

.container {
    text-align: center;
}



ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a {
    color: white;
    text-decoration: none;
}

img {
    margin-top: 50px;
    width: 250px;
    height: 150px;
    border-radius: 70%;
    border: 5px solid purple
}

.div1 {
    text-align: center;
}

h1 {
    color: purple;
}

.tudo {
    padding: 0px 50px;
}